.activebtn{
 /* color:#e7e4e4; */
 border-radius: 50%;
 background: -webkit-linear-gradient(#eee, #333);

 -webkit-text-fill-color: transparent;
 padding: 10px;
}
.inactivebtn{
  background-color: rgb(71, 66, 66);
  border-radius: 50%;
  color:rgb(44, 39, 39);
  padding: 5px;
}
.activebtn:hover{
    cursor: pointer;
}
.inactivebtn:hover{
    cursor: pointer;
}
.sliderControls>button{
 /* display: block; */
 border: none;
 margin-right: 5px;;
}
.maindivT{
    width: 97%;
    margin:auto;

}
.headline{
    text-align: center;
    font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width:800px) {
  .maindivT{
    width:100%;
  }
  
}
@media screen and (max-width:500px) {
  .headline{
    font-size: 40px;
  }
  }